<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          <i class="fa fa-list text-primary"></i> Utilisateur List
          <sup bs-tooltip
          data-trigger="hover"
          data-animation="am-flip-x"
          data-title="Click for more information.">
          <i class="fa fa-info-circle"
          ng-class="utilisateurInfoClass"
          ng-mouseover="utilisateurInfoClass='text-primary fa-lg cursor-pointer'"
          ng-mouseleave="utilisateurInfoClass='text-muted'"
          bs-aside
          data-template="assets/app/partials/utilisateur-info-aside.html"
          data-container="body">
        </i>
      </sup>
    </h1>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-3">
    <a type="button" href="#/utilisateurs/add" class="btn btn-default"><i class="fa fa-fw fa-plus-square-o" aria-hidden="true"></i></a>
    <sup bs-tooltip
    data-trigger="hover"
    data-animation="am-flip-x"
    data-title="Click for add utilisateur.">
    <i class="fa fa-info-circle"
    ng-class="utilisateurInfoClass"
    ng-mouseover="utilisateurInfoClass='text-primary fa-lg cursor-pointer'"
    ng-mouseleave="utilisateurInfoClass='text-muted'"
    bs-aside
    data-template="assets/app/partials/utilisateur-info-aside.html"
    data-container="body">
  </i>
  </div>

  <div class="col-md-3 col-md-offset-3">
    <div class="btn-group pull-right" role="group" aria-label="Sort Utilisateurs">
      <button type="button" ng-click="utilisateurSort='nom'" class="btn btn-default" ng-class="{active: utilisateurSort==='text'}"><i class="fa fa-fw fa-sort-alpha-asc"></i></button>
      <button type="button" ng-click="utilisateurSort='id'" class="btn btn-default" ng-class="{active: utilisateurSort==='lang'}"><i class="fa fa-fw fa-language"></i></button>
    </div>
  </div>

  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-addon" id="filter-addon"><i class="fa fa-filter"></i></span>
      <input type="text" id="utilisateur-filter" class="form-control input-sm" aria-describedby="filter-addon" placeholder="type to filter list" ng-model="utilisateurFilter" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nom</th>
          <th>Phone</th>
          <th>Mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="utilisateur in utilisateurs | filter:utilisateurFilter | orderBy:utilisateurSort">
          <td><a href="#/utilisateurs/{{utilisateur.id}}">{{utilisateur.id}}</a></td>
          <td>{{utilisateur.nom}}</td>
          <td>{{utilisateur.phone}}</td>
          <td>{{utilisateur.mail}}</td>
          <td><a class="btn btn-danger fa fa-trash-o" round  ng-click="delUtilisateur(utilisateur.id)"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
